Findings:

- About 6.4% of the rows have missing values.
    - 814271 / 870521 (93.6%) of the rows have all values.
- The missing values are in the `ID` and `Content` columns.
- Removing duplicates does nothing.

In [4]:
import pandas as pd

df = pd.read_csv('data/raw.csv')

In [5]:
# Check the initial number of rows
print(df.shape[0])

870521

In [6]:
df2 = df.dropna()

# Check the number of rows after dropping NaNs
print(df2.shape[0])

814271

In [7]:
df2.drop_duplicates(inplace=True)

# Check the number of rows after dropping duplicates
print(df2.shape[0])

814271

/var/folders/d4/ggny_vpn0nv4f9ys1m85vyv80000gn/T/ipykernel_32575/2295618035.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.drop_duplicates(inplace=True)

In [8]:
# Which columns in df have missing values?
print(df.isnull().any())

Unnamed: 0    False
ID             True
Content        True
Summary       False
Dataset       False
dtype: bool

In [9]:
# Display df rows with no Content value
print(df[df['Content'].isnull()].head())

        Unnamed: 0        ID Content
10839        10839  38684879     NaN  \
14701        14701  35860670     NaN
45600        45600  31549359     NaN
89037        89037  39563665     NaN
99783        99783  37916908     NaN
118847      118847  36369226     NaN
142166      142166  31293566     NaN
158232      158232  34473362     NaN
189368      189368  30684523     NaN
194150      194150  40218922     NaN
267224      267224  32556640     NaN
269158      269158  36609258     NaN
283567      283567  32084847     NaN
285807      285807  38367783     NaN
292472      292472  30190709     NaN
402394      402394  36553655     NaN
475751      475751  39290168     NaN
523196      523196  30280969     NaN
526744      526744  36974487     NaN
528954      528954  38341149     NaN
561821      561821  38483385     NaN
612546      612546  39927976     NaN
629789      629789  38150418     NaN
634630      634630  11138790     NaN
641071      641071  35366703     NaN
652193      652193  32725157     NaN
730928      730928  37570557     NaN
760924      760924  32462382     NaN
763851      763851  40209351     NaN
776073      776073  39857947     NaN
813614      813614  35656563     NaN
840237      840237  40922732     NaN
846300      846300  33754931     NaN
855599      855599  38568738     NaN

                                                  Summary Dataset
10839   Images courtesy of AFP, EPA, Getty Images and ...    XSum
14701   President Barack Obama has arrived in Cuba for...    XSum
45600   Our selection of some of the best news photogr...    XSum
89037   Here is a full list of winners and nominees fo...    XSum
99783                    All photographs are copyrighted.    XSum
118847  Following the news that Birmingham City Counci...    XSum
142166  Our selection of some of the best news photogr...    XSum
158232  A selection of the photos from across Africa t...    XSum
189368  Lebanon has placed new restrictions on Syrians...    XSum
194150              All photographs subject to copyright.    XSum
267224  Nigeria's commercial capital, Lagos, has had a...    XSum
269158  A selection of photos from across the African ...    XSum
283567  Our selection of some of the best news photogr...    XSum
285807                All photographs © Press Association    XSum
292472  Rioting has broken out in the US town of Fergu...    XSum
402394  A selection of photos from across the African ...    XSum
475751  The winners of the 2017 Architectural Review M...    XSum
523196  As part of the latest series of African Dream,...    XSum
526744  Following the stabbing at Russell Square in Lo...    XSum
528954  A selection of the most striking news images f...    XSum
561821  The old year went out with a bang as Edinburgh...    XSum
612546  Party leaders are touring the UK on the last d...    XSum
629789  Harvesting work is nearly done at Glaisters Fa...    XSum
634630  As Israel and the Palestinians prepare for US-...    XSum
641071  Highlights from this year's National Televisio...    XSum
652193  Here are the key dates in the long-running inv...    XSum
730928  It's been a long, unpredictable US election an...    XSum
760924  Gallipoli centenary ceremonies are being held ...    XSum
763851                   All photographs are copyrighted.    XSum
776073  Here is a breakdown, by local authority, of th...    XSum
813614  The winners and the full nominations for this ...    XSum
840237  There have been celebrations and ceremonies in...    XSum
846300  This article, which looked at the human cost o...    XSum
855599      All photographs Â© John Vink / Magnum Photos.    XSum